.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    font-size: xx-large;
    padding-top: 0.5%;
    padding-bottom: 0.2%;
    padding-left: 2%;
    background-color: #ffe600;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 3%;
    height: auto;
    object-fit: contain;
    margin-bottom: 5px;
    margin-top: 5px;
}

.title {
    width: fit-content;
    background-color: #fcf5e7;
    padding: 0px 10px 0px 10px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
